<mat-sidenav-container>
  <mat-sidenav mode="side"  opened #sidebar>
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <!-- Body -->
  <mat-sidenav-content>
    <div class="content">

      <div class="toolbar d-flex justify-content-between p-2 shadow ">

        <div class="icon d-flex">
          <mat-icon class="mat-18" (click)="sidebar.toggle()">menu</mat-icon>
          <i class="bi-alarm" style="font-size: 2rem; color: cornflowerblue;"></i>
          <div class="ms-3">          <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form></div>
        </div>

        <div class="profile d-flex align-items-center me-3">
          <img class="img-profile ms-2  rounded-circle" width="40"  [src]="admin.image">
        </div>
      </div>
      <!-- content -->
      <div class="main">
        <router-outlet></router-outlet>

      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
