<div class="head border border-white m-3 shadow p-3 mt-4 bg-white rounded">
  <table>
    <th>
      <i class="fa-solid fa-1.5x fa-rectangle-list" style="color: #ff8100"></i>
      <span style="color: #ff8100"> Dashboard</span>
    </th>
  </table>
</div>

<div class="row m-3">
  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-primary text-uppercase mb-1"
            >
              Number of Products
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{products.length}}</div>
          </div>
          <div class="col-auto">
            <i class="fa-solid fa-shirt fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-success text-uppercase mb-1"
            >
              Number Of Users
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{users.length}}</div>
          </div>
          <div class="col-auto">
            <i class="fa-solid fa-user fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-success text-uppercase mb-1"
            >
              Number Of orders
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{orders.length}}</div>
          </div>
          <div class="col-auto">
            <i class="fa-solid fa-box-open fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pending Requests Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div
              class="text-xs font-weight-bold text-warning text-uppercase mb-1"
            >
              total sales
            </div>
            <div class="h5 mb-0 font-weight-bold text-gray-800">{{totalSales/2|currency}}</div>
          </div>
          <div class="col-auto">
            <i class="fa-solid fa-money-check-dollar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row m-3 charts-container">
  <!-- Area Chart -->
  <div class="col-xl-8 col-lg-7">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
      >
        <h2 class="m-0 font-weight-bold text-success">Orders Overview</h2>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-area">
          <canvas
            id="canvas"
            style="display: block; width: 100%; height: 320px"
            width="668"
            height="320"
            class="chartjs-render-monitor"
          ></canvas>
        </div>
      </div>
    </div>
  </div>

  <!-- Pie Chart -->
  <div class="col-xl-4 col-lg-5">
    <div class="card shadow mb-4">
      <!-- Card Header - Dropdown -->
      <div
        class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
      >
        <h2 class="m-0 font-weight-bold text-warning">Product Chart</h2>
      </div>
      <!-- Card Body -->
      <div class="card-body">
        <div class="chart-pie pt-4 pb-2">
          <canvas
            id="doughnut-chart"
            width="301"
            height="220px"
            style="display: block; width: 100%; height: 220px"
            class="chartjs-render-monitor"
          ></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
