    <div class=" head border border-white m-3 shadow p-3 mt-4  bg-white rounded">
      <table>
        <th><i class="fa-solid fa-1.5x fa-rectangle-list" style="color:  #ff8100;"></i> <span style="color:  #ff8100;"> Dashboard</span> /  ORDERS</th>
      </table>
    </div>
    
    <div class="head border border-white  m-3 shadow p-3 mb-5 bg-white rounded"  style="border: 1px solid gray;">
      <h2>Orders List</h2>
      <table class="table ">
        <br />
        <thead>
          <tr>
            <th>Order</th>
            <th>Date</th>
            <th>Status</th>
            <th>Total</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>#1234</td>
            <td>March 29,2018</td>
            <td>Completed</td>
            <td>$140.00 for 2 items</td>
            <td>
              <i class="fa-solid fa-2x fa-eye" style="color: blue"></i>
            </td>
            <td>
              <i class="fa-solid fa-2x fa-file-circle-check" style="color:red"></i>                        </td>
          </tr>
          <tr>
            <td>#2977</td>
            <td>July 15,2018</td>
            <td>On Hold</td>
            <td>$200.00 for 1 item</td>
            <td>
              <i class="fa-solid fa-2x fa-eye" style="color: blue"></i>
            </td>
            <td></td>
          </tr>
          <tr>
            <td>#4569</td>
            <td>January 27,2022</td>
            <td>Processing</td>
            <td>$280.00 for 2 items</td>
            <td>
              <i class="fa-solid fa-2x fa-eye" style="color: blue"></i>
            </td>
            <td>
              <i class="fa-solid fa-2x fa-file-circle-check" style="color:red"></i>                        </td>
          </tr>
          <tr>
            <td>#9856</td>
            <td>December 24,2022</td>
            <td>Pending Payment</td>
            <td>$300.00 for 3 items</td>
            <td>
              <i class="fa-solid fa-2x fa-eye" style="color: blue"></i>
            </td>
            <td>
              <i class="fa-solid fa-2x fa-file-circle-check" style="color:red"></i>                        </td>
          </tr>
          <tr>
            <td>#2234</td>
            <td>Septmber 3,2021</td>
            <td>Refunded</td>
            <td>$40.00 for 1 item</td>
            <td>
              <i class="fa-solid fa-2x fa-eye" style="color: blue"></i>
            </td>
            <td>
            </td>
          </tr>
        </tbody>
      </table>
      <div
        class="container mt-3 d-flex justify-content-center"
        style="width: 100%"
      >
        <nav aria-label="...">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
                >Previous</a
              >
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
