<section class="section mt-3">
  <div class="container mb-1 border-end">
    <div class="card shadow-1-strong">
      <div class="head mt-3">
        <p>Product Detail</p>
      </div>
      <div class="row g-0">
        <div class="col-md-6 border-end border-start">
          <div class="test d-flex flex-column justify-content-center">
            <div
              class="main_image shadow-1-strong p-3 me-3 rounded"
              style="background-color: #f7f7f7"
            >
              <img src="/../assets/images/1.jpg" />
            </div>
            <div
              class="thumbnail_images d-flex pt-3 align-items-center justify-content-center rounded gap-3"
            >
              <img src="/../assets/images/1.jpg" alt="" />
              <img src="/../assets/images/1.jpg" alt="" />
              <img src="/../assets/images/1.jpg" alt="" />
              <img src="/../assets/images/1.jpg" alt="" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="p-3 right-side">
            <div class="d-flex justify-content-between align-items-center">
              <p style="font-weight: 900">Pure Leather Purse for Woman</p>
              <!-- <span class="heart"
                  ><i class="me-1 fa fa-heart text-danger"></i
                ></span> -->
            </div>
            <div class="photo mb-2">
              <img src="/../assets/images/6.jpg" alt="" />
            </div>
            <div>
              <p class="paragraph">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Numquam, corporis ratione facere adipisci, in tempora since 1900
                .
              </p>
            </div>
            <div>
              <p class="paragraph">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Reprehenderit dicta officia cumque voluptas et blanditiis sequi
                voluptatibus culpa. Alias facere quia commodi nesciunt tempore
              </p>
            </div>
            <div>
              <p style="font-weight: 700">Avaible Offers</p>
            </div>
            <div>
              <p>
                Special Price : Get extra 16% off (price inclusive of discount )
                <span class="tc">T&C</span>
              </p>
              <p>
                Bank Offer : 10% off on XYZ Bank Cards , up to 12$ on orders of
                200$ <span class="tc">T&C</span>
              </p>
              <p>
                Bank Offer : 5% Unlimited Cashback on Ekka XYZ Bank Credit Card
                <span class="tc">T&C</span>
              </p>
              <p>
                Bank Offer : Flat $50 off on first Ekka Pay Later order of 200$
                and above <span class="tc">T&C</span>
              </p>
            </div>
            <div style="font-weight: 700">
              <p>Price: 120$</p>
              <p style="font-weight: 400">SKU#: WH12</p>
            </div>
            <div class="status d-flex flex-row bd-highlight mb-3">
              &nbsp;&nbsp;&nbsp;&nbsp;
              <div class="status-t shadow-1-strong p-3 pt-1 bd-highlight">
                Avaible
                <p class="mt-1">180</p>
              </div>
              &nbsp;&nbsp;
              <div class="status-t p-3 pt-1 bd-highlight">
                pending
                <p class="mt-1">50</p>
              </div>
              &nbsp;&nbsp;
              <div class="status-t p-3 pt-1 bd-highlight">
                InOrder
                <p class="mt-1">20</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
