img {
  border-radius: 50%;
  width: 50px;
  margin: 3px;
  /* border: 3px solid #fff; */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.fas{
  border-radius: 50%;
  color: white;
  padding: 5px;
}

.Add{
  background-color: #6073cabd !important;
  color: #fff;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;

}
.active{
  background-color: #6073cabd !important;
  color: #fff;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  z-index: 9999;
  margin: 2px;
  width: 40px;
  height: max-content;
}

