table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

img {
  border-radius: 50%;
  width: 50px;
  margin: 3px;
  /* border: 3px solid #fff; */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
button {
  background-color: rgb(136, 170, 243);
  color: #fff;
}
