<h1 class="d-flex m-3">All Users</h1>
<div class="m-3 shadow bg-light p-4 rounded">


<div class="cat">
  <div class="container ">
    <div class="row">
      <div class="col-6 d-flex justify-content-start">
        <h2>Users</h2>
      </div>
      <!-- <div class="col-6 d-flex justify-content-end">
        <button class="Add">Add User</button>
      </div> -->
    </div>
  </div>

  <div class="container ">
    <div class="row">
      <div class="col-md-4 mb-3 ">
        <label for="searchType">Search By:</label>
        <select class="form-control" id="searchType" [(ngModel)]="searchType">
          <option selected disabled>Search by</option>
          <option value="name">Name</option>
          <option value="Email">Email</option>
          <option value="gender">Gender</option>
          <!-- <option value="joinOn">join on</option> -->
        </select>
      </div>
      <div class="col-md-4 mb-3">
        <label for="searchTerm">Search Term:</label>
        <input placeholder="Search Term" type="text" class="form-control" id="searchTerm"(keyup)="search()"  [(ngModel)]="searchTerm">
      </div>
      <div class="col-md-4 mb-3 d-flex align-items-end">
        <!-- <button class="btn btn-primary" (click)="search()">Search</button> -->
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>User Image</th>
          <th>Name</th>
          <th>Email</th>
          <th>Gender</th>
          <!-- <th>Phone</th>
          <th>Join On</th> -->
          <!-- <th>Edit</th> -->
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filteredItems.slice(startIndex, endIndex)">
          <td><img [src]="item.image" alt=""></td>
          <td>{{ item.name }}</td>
          <td>{{item.email}}</td>
          <td>{{item.gender}}</td>
          <!-- <td>{{item.updated_at}}</td>
          <td>{{item.created_at}}</td> -->
          <!-- [routerLink]="['/dashboard/users/add',item.id]" -->
          <!-- <td><i class="fas fa-pen bg-info p-2" (click)="openUpdateDialog(item.id)" ></i></td> -->
          <td (click)="deleteUser(item.id!)"><i class="fas fa-trash bg-danger p-2"></i></td>
        </tr>
      </tbody>
    </table>

    <div class="pagination d-flex justify-content-center">
      <button class="btn btn-light" (click)="prev()" [disabled]="startIndex == 0">&lt; &lt; Previous</button>
      <button *ngFor="let pageNumber of pageNumbers"
              class="btn btn-light"
              [class.active]="currentPage === pageNumber"
              (click)="goToPage(pageNumber)">
        {{ pageNumber }}
      </button>
      <button class="btn btn-light" (click)="next()" [disabled]="endIndex >= filteredItems.length">Next &gt; &gt; </button>
    </div>
  </div>
</div>

</div>
