.fas{
    border-radius: 50%;
    color: white;
    padding: 5px;
  }

  .category-title{background-color: #fff;}
.table{background-color: #fff;
padding: 15px;
}
  .fa-trash{
    background-color: red;
  }
  .fa-pen{
    background-color: blue;
  }
  .Add{
    background-color: #ff8100 !important;
    color: #fff;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
  }

  button {
   box-shadow: 2px 2px 6px #000000;;
  }
