.profile-page{overflow: hidden;}
a {
  font-size: 20px;
  margin-left: 15px;
}
.card {
  background: #fff;
  margin-bottom: 30px;
  transition: .5s;
  border: 0;
  border-radius: .1875rem;
  display: inline-block;
  position: relative;
  width: 300px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
  border-radius: 25px;
}
.card .body {
  font-size: 14px;
  color: #424242;
  padding: 20px;
  font-weight: 400;
}
.profile-page .profile-header {
  position: relative
}

.profile-page .profile-header .profile-image img {
  border-radius: 50%;
  width:80px;
  margin-top:20px;
  border: 3px solid rgb(136, 170, 243);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

