<div class=" m-3">
  <h1 class="m-4 mx-0 bold">Products Card</h1>
  <div class="row">
      <!-- ///////////////////1///////////////// -->

      <div class="col-md-3 col-sm-6 mb-4" *ngFor="let item of products">
          <div class="product-grid">
              <div class="product-image">
                  <a href="#" class="image">
                      <img class="pic-1"
                          [src]="item.img">
                      <img class="pic-2"
                      [src]="item.img">
                  </a>
                  <ul class="social">
                      <li><a href="#" ><i class="fa-solid fa-pen-to-square"></i></a></li>
                      <li><a href="#" ><i class="fa fa-eye"></i></a></li>
                      <li><a href="#" ><i class="fa-solid fa-trash-can"></i></a></li>
                  </ul>
                  <div class="product-rating">
                      <ul class="rating">
                          <li class="fas fa-star"></li>
                          <li class="fas fa-star"></li>
                          <li class="fas fa-star"></li>
                          <li class="far fa-star"></li>
                          <li class="far fa-star"></li>
                      </ul>
                  </div>
              </div>
              <div class="product-content">
                  <h3 class="title"><a href="#">{{item.name}}</a></h3>
                  <div class="price">{{item.price|currency}}</div>
              </div>
          </div>
      </div>

  </div>
</div>
