<section class="h-100 h-custom">
    <div class="container py-2 px-3 h-100">
        <div class="d-flex justify-content-between align-items-center py-3">
            <h1>Add Product</h1>
            <button class="btn" type="submit">View All Product </button>
        </div>
    </div>
    <div class="container py-2 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-12">
                                <div class="p-5">
                                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                                        <div class="col-md-5 col-lg-5 col-sm-12">
                                            <div class="position-relative">
                                                <img id="image-preview-1" src="" alt="Preview">
                                                <div class="image-upload">
                                                    <label for="file-input">
                                                        <i
                                                            class="fa-solid fa-upload position-absolute top-0 start-0"></i>
                                                    </label>
                                                    <input type="file" (change)="onFileSelected($event, 1)">
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-md-6 col-lg-3 col-sm-6 mb-4">
                                                    <div class="position-relative">
                                                        <img src="https://via.placeholder.com/750x500" alt="Image"
                                                            class="img-fluid">
                                                        <div class="image-upload">
                                                            <label for="file-input">
                                                                <i
                                                                    class="fa-solid fa-upload icons position-absolute top-0 start-0"></i>
                                                            </label>
                                                            <input id="file-input" type="file" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-lg-3 col-sm-6 mb-4">
                                                    <div class="position-relative">
                                                        <img src="https://via.placeholder.com/750x500" alt="Image"
                                                            class="img-fluid">
                                                        <div class="image-upload">
                                                            <label for="file-input">
                                                                <i
                                                                    class="fa-solid fa-upload icons position-absolute top-0 start-0"></i>
                                                            </label>
                                                            <input id="file-input" type="file" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-lg-3 col-sm-6 mb-4">
                                                    <div class="position-relative">
                                                        <img src="https://via.placeholder.com/750x500" alt="Image"
                                                            class="img-fluid">
                                                        <div class="image-upload">
                                                            <label for="file-input">
                                                                <i
                                                                    class="fa-solid fa-upload icons position-absolute top-0 start-0"></i>
                                                            </label>
                                                            <input id="file-input" type="file" />
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-lg-3 col-sm-6 mb-4">
                                                    <div class="position-relative">
                                                        <img src="https://via.placeholder.com/750x500" alt="Image"
                                                            class="img-fluid">
                                                        <div class="image-upload">
                                                            <label for="file-input">
                                                                <i
                                                                    class="fa-solid fa-upload icons position-absolute top-0 start-0"></i>
                                                            </label>
                                                            <input id="file-input" type="file" />
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-7">
                                            <form #Form="ngForm">
                                                <div class="row mt-3">
                                                    <!-- /////////////////Product Name////////////////////// -->
                                                    <div class="col-md-6">
                                                        <div class="inputbox mt-3 mr-2">
                                                            <input #productName="ngModel" ngModel name="productName"
                                                                type="text" class="form-control " required="required"
                                                                pattern="^[a-zA-Z]{4,15}$">
                                                            <span>Product Name</span>
                                                            <div [hidden]="productName.valid || productName.pristine"
                                                                class=" text-danger" role="alert">
                                                                <p [hidden]="!productName.errors?.['required']">Product
                                                                    Name Required <i
                                                                        class="fa-solid error fa-circle-exclamation"></i>
                                                                </p>
                                                                <p [hidden]="!productName.errors?.['pattern']">Invalid
                                                                    Product Name <i
                                                                        class="fa-solid error fa-circle-exclamation"></i>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /////////////////Select Category////////////////////// -->
                                                    <div class="col-md-6">
                                                        <div class="inputbox mt-3 mr-2">
                                                            <select class="form-select"
                                                                aria-label="Default select example">
                                                                <option selected>Category</option>
                                                                <option value="1">T-shirt</option>
                                                                <option value="2">Electronics</option>
                                                                <option value="3">Shoes</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <!-- /////////////////Product Price////////////////////// -->
                                                    <div class="col-md-6">
                                                        <div class="inputbox mt-3 mr-2">
                                                            <input #productPrice="ngModel" ngModel name="productPrice"
                                                                type="text" class="form-control" required="required"
                                                                pattern="^[0-9]{1,6}$">
                                                            <span>Product Price</span>
                                                            <div [hidden]="productPrice.valid || productPrice.pristine"
                                                                class=" text-danger" role="alert">
                                                                <p [hidden]="!productPrice.errors?.['required']">
                                                                    Product Quantity Required <i
                                                                        class="fa-solid error fa-circle-exclamation"></i>
                                                                </p>
                                                                <p [hidden]="!productPrice.errors?.['pattern']">
                                                                    Invalid
                                                                    Product Quantity <i
                                                                        class="fa-solid error fa-circle-exclamation"></i>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /////////////////Product Quantity////////////////////// -->
                                                    <div class="col-md-6">
                                                        <div class="inputbox mt-3 mr-2">
                                                            <input #productQuantity="ngModel" ngModel
                                                                name="productQuantity" type="text" class="form-control"
                                                                required="required" pattern="^[0-9]{1,6}$">
                                                            <span>Product Quantity</span>
                                                            <div [hidden]="productQuantity.valid || productQuantity.pristine"
                                                                class=" text-danger" role="alert">
                                                                <p [hidden]="!productQuantity.errors?.['required']">
                                                                    Product Quantity Required <i
                                                                        class="fa-solid error fa-circle-exclamation"></i>
                                                                </p>
                                                                <p [hidden]="!productQuantity.errors?.['pattern']">
                                                                    Invalid
                                                                    Product Quantity <i
                                                                        class="fa-solid error fa-circle-exclamation"></i>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /////////////////DESCRIPTION////////////////////// -->
                                                    <div class="col-md-12">
                                                        <div class="inputbox mt-3 mr-2">
                                                            <textarea #productDescription="ngModel" ngModel
                                                                name="productDescription" type="text"
                                                                class="form-control " required="required"
                                                                pattern="^[a-zA-Z]{10,100}$" rows="4"></textarea>
                                                            <span>Product Description</span>
                                                            <div [hidden]="productDescription.valid || productDescription.pristine"
                                                                class=" text-danger" role="alert">
                                                                <p [hidden]="!productDescription.errors?.['required']">
                                                                    Product Description Required <i
                                                                        class="fa-solid error fa-circle-exclamation"></i>
                                                                </p>
                                                                <p [hidden]="!productDescription.errors?.['pattern']">
                                                                    Short Product Description <i
                                                                        class="fa-solid error fa-circle-exclamation"></i>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </form>
                                        </div>

                                    </div>

                                    <div class="pt-2">
                                        <a href="#!" class="text-body"><button class="btn" type="submit">Submit
                                            </button></a>
                                    </div>


                                 
                                  
                                    <input type="file" (change)="onFileSelected($event, 2)">
                                    <img id="image-preview-2" src="" alt="Preview">
                                    <input type="file" (change)="onFileSelected($event, 3)">
                                    <img id="image-preview-3" src="" alt="Preview">
                                    <input type="file" (change)="onFileSelected($event, 4)">
                                    <img id="image-preview-4" src="" alt="Preview">


                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>