.card {
  border: none;
  background-color: #fff;
}

.form-control {
  border-bottom: 2px solid #eee !important;
  border: none;
  font-weight: 600;
}

.form-control:focus {
  color:#5194f1;
  background-color: #fff;
  border-color: #8bbafe;
  outline: 0;
  box-shadow: none;
  border-radius: 0px;
  border-bottom: 2px solid #8bbafe !important;
}

.inputbox {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.inputbox span {
  position: absolute;
  top: 7px;
  left: 11px;
  transition: 0.5s;
  /* margin-bottom: 10px; */
}

.inputbox i {
  position: absolute;
  top: 13px;
  right: 8px;
  transition: 0.5s;
  color: red;
}
.inputbox input:valid:not(:focus) ~ span {
  transform: translateY(-15px);
  font-size: 15px;
  color:  rgb(116, 155, 239);
}
.inputbox input:valid:focus ~ span {
  transform: translateX(-0px) translateY(-15px);
  font-size: 15px;
}
.inputbox input:invalid:focus ~ span {
  transform: translateX(-0px) translateY(-15px);
  font-size: 15px;
}
.inputbox input:invalid:not(:focus) ~ span {
  transform: translateY(-15px);
  font-size: 12px;
}
/* /////////////// */
.inputbox textarea:valid:not(:focus) ~ span {
    transform: translateY(-15px);
    font-size: 15px;
    color:  rgb(116, 155, 239);
  }
  .inputbox textarea:valid:focus ~ span {
    transform: translateX(-0px) translateY(-15px);
    font-size: 15px;
  }
  .inputbox textarea:invalid:focus ~ span {
    transform: translateX(-0px) translateY(-15px);
    font-size: 15px;
  }
  .inputbox textarea:invalid:not(:focus) ~ span {
    transform: translateY(-15px);
    font-size: 12px;
  }

.yellow {
  color: #483d8b;
}

.btn {
  background-color:rgb(136, 170, 243);
  color: #fff;
}

.btn:hover {
  background-color: rgb(136, 170, 243);
  color: #000;
}
.error {
  color: red;
}
.form-control {
  background-color: white;
}
.image-upload > input
{
    display: none;
}

.fa-upload
{
    font-size: 30px;
    cursor: pointer;
    color:rgb(136, 170, 243);
    margin: 5px;
}
.icons{
  font-size: 20px;
  cursor: pointer;
  color:rgb(136, 170, 243);
  margin: 5px;
}
/* .fa-cloud{
  font-size: 100px;
  cursor: pointer;
  color: rgb(13, 0, 255);
} */
