.card {
  border: none;
  background-color: #fff;
}

.form-control {
  border-bottom: 2px solid #eee !important;
  border: none;
  font-weight: 600;
}

.form-control:focus {
  color:#5194f1;
  background-color: #fff;
  border-color: #8bbafe;
  outline: 0;
  box-shadow: none;
  border-radius: 0px;
  border-bottom: 2px solid #8bbafe !important;
}

.inputbox {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.inputbox span {
  position: absolute;
  top: 7px;
  left: 11px;
  transition: 0.5s;
  /* margin-bottom: 10px; */
}

.inputbox i {
  position: absolute;
  top: 13px;
  right: 8px;
  transition: 0.5s;
  color: red;
}
.inputbox input:valid:not(:focus) ~ span {
  transform: translateY(-15px);
  font-size: 15px;
  color:  rgb(116, 155, 239);
}
.inputbox input:valid:focus ~ span {
  transform: translateX(-0px) translateY(-15px);
  font-size: 15px;
}
.inputbox input:invalid:focus ~ span {
  transform: translateX(-0px) translateY(-15px);
  font-size: 15px;
}
.inputbox input:invalid:not(:focus) ~ span {
  transform: translateY(-15px);
  font-size: 12px;
}
/* /////////////// */
.inputbox textarea:valid:not(:focus) ~ span {
    transform: translateY(-15px);
    font-size: 15px;
    color:  rgb(116, 155, 239);
  }
  .inputbox textarea:valid:focus ~ span {
    transform: translateX(-0px) translateY(-15px);
    font-size: 15px;
  }
  .inputbox textarea:invalid:focus ~ span {
    transform: translateX(-0px) translateY(-15px);
    font-size: 15px;
  }
  .inputbox textarea:invalid:not(:focus) ~ span {
    transform: translateY(-15px);
    font-size: 12px;
  }

.yellow {
  color: #483d8b;
}

.btn {
  background-color:rgb(136, 170, 243);
  color: #fff;
}

.btn:hover {
  background-color: rgb(136, 170, 243);
  color: #000;
}
.error {
  color: red;
}
.form-control {
  background-color: white;
}
.image-upload > input
{
    display: none;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}
.fa-upload
{
    font-size: 20px;
    cursor: pointer;
    color:rgb(240, 242, 245);
}
.icons{
  font-size: 20px;
  cursor: pointer;
  color:rgb(226, 228, 234);
  margin: 5px;
}


.dropzone {
  border: 2px dashed #ccc;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropzone.dragover {
  background-color: #eee;
}

.dropzone p {
  margin: 0;
}
/* .uploaded-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 10px;
  margin-bottom: 10px;
}

.uploaded-image:first-of-type {
  width: 400px;
  height: 400px;
  margin-right: 0;
  margin-bottom: 20px;
}
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
} */
.uploaded-image-container {
  display: flex;
  flex-wrap: wrap;
}

.uploaded-main-image {
  width: 300px;
  height: 320px;
  margin-bottom: 1rem;
  margin-left: 50px;
  margin-top: 10px;
  border: 1px solid rgb(136, 170, 243);
}

.uploaded-thumbnail {
  width: 80px;
  height: 100px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border: 1px solid rgb(136, 170, 243);

}

.uploaded-thumbnail:last-child {
  margin-right: 0;
  width: 80px;
  height: 100px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border: 1px solid rgb(136, 170, 243);

}

/* .uploaded-image-container {
  display: flex;
}

.uploaded-main-image {
  width: 300px;
  height: 320px;
  margin-bottom: 1rem;
  margin-left: 50px;
  margin-top: 10px;
  border: 1px solid rgb(136, 170, 243);
  position: relative;
}

.uploaded-main-image .delete-image {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.uploaded-thumbnail {
  width: 80px;
  height: 100px;
  margin-right: 1rem;
  margin-bottom: 1rem;
  border: 1px solid rgb(136, 170, 243);
  position: relative;
}

.uploaded-thumbnail .delete-image {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: red;
  color: white;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.uploaded-thumbnail:last-child {
  margin-right: 0;
} */


/* .fa-cloud{
  font-size: 100px;
  cursor: pointer;
  color: rgb(13, 0, 255);
} */


/* label {
  display: inline-block;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}
input[type="file"] {
  opacity: 0;
  position: absolute;
  left: -9999px;
  background-color: #483d8b;
} */