<section class="h-100 h-custom">
  <div class="container py-2 px-3 h-100">
    <div class="d-flex justify-content-between align-items-center py-3">
      <h1>Add Product</h1>
      <button class="btn" type="submit">View All Product</button>
    </div>
  </div>
  <div class="container py-2 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px">
          <div class="card-body p-0">
            <div class="row g-0">
              <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                <div class="col-lg-12">
                  <div class="p-5">
                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                      <div class="col-md-6 col-lg-5 row">
                        <div class="col-12 mb-3">
                          <label>Imagees Product :</label>
                          <!-- <input type="file" id="images" formControlName="image" (change)="onImageUpload($event)" multiple > -->
                          <input type="file" formControlName="image" (change)="onFileChange($event)" multiple>

                        </div>

                      </div>
                      <!-- <div class="col-md-5 col-lg-5 col-sm-12">
                                            <div class="position-relative">
                                                <div class="image-upload">
                                                    <button class="btn" (click)="selectImage.click()" for="file-input">
                                                        <i class="fa-solid fa-upload "></i>
                                                    </button>
                                                    <input input #selectImage id="file-input" type="file"
                                                        (change)="onFileSelected($event)" style="display: none;" />
                                                </div>
                                                <img *ngIf="imageUrl" [src]="imageUrl" alt="Uploaded image"
                                                    class="img-fluid">
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-md-6 col-lg-3 col-sm-6 mb-4">
                                                    <div class="position-relative">
                                                        <div class="image-upload">
                                                            <button class="btn" (click)="selectImage.click()" for="file-input">
                                                                <i class="fa-solid fa-upload "></i>
                                                            </button>
                                                            <input input #selectImage id="file-input" type="file"
                                                                (change)="onFileSelected($event)" style="display: none;" />
                                                        </div>
                                                        <img *ngIf="imageUrl" [src]="imageUrl" alt="Uploaded image"
                                                            class="img-fluid">
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-lg-3 col-sm-6 mb-4">
                                                    <div class="position-relative">
                                                        <div class="image-upload">
                                                            <button class="btn" (click)="selectImage.click()" for="file-input">
                                                                <i class="fa-solid fa-upload "></i>
                                                            </button>
                                                            <input input #selectImage id="file-input" type="file"
                                                                (change)="onFileSelected($event)" style="display: none;" />
                                                        </div>
                                                        <img *ngIf="imageUrl" [src]="imageUrl" alt="Uploaded image"
                                                            class="img-fluid">
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-lg-3 col-sm-6 mb-4">
                                                    <div class="position-relative">
                                                        <div class="image-upload">
                                                            <button class="btn" (click)="selectImage.click()" for="file-input">
                                                                <i class="fa-solid fa-upload "></i>
                                                            </button>
                                                            <input input #selectImage id="file-input" type="file"
                                                                (change)="onFileSelected($event)" style="display: none;" />
                                                        </div>
                                                        <img *ngIf="imageUrl" [src]="imageUrl" alt="Uploaded image"
                                                            class="img-fluid">
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-lg-3 col-sm-6 mb-4">
                                                    <div class="position-relative">
                                                        <div class="image-upload">
                                                            <button class="btn" (click)="selectImage.click()" for="file-input">
                                                                <i class="fa-solid fa-upload "></i>
                                                            </button>
                                                            <input input #selectImage id="file-input" type="file"
                                                                (change)="onFileSelected($event)" style="display: none;" />
                                                        </div>
                                                        <img *ngIf="imageUrl" [src]="imageUrl" alt="Uploaded image"
                                                            class="img-fluid">
                                                    </div>
                                                </div>

                                            </div>
                                        </div> -->

                      <div class="col-md-7">

                        <div class="row mt-3">
                          <!-- /////////////////Product Name////////////////////// -->
                          <div class="col-md-6">
                            <div class="inputbox mt-3 mr-2">
                              <input type="text" formControlName="name" class="form-control" required="required"
                                pattern="^[a-zA-Z]{4,15}$" />
                              <span>Product Name</span>
                            </div>
                          </div>
                          <!-- /////////////////Select Category////////////////////// -->
                          <div class="col-md-6">
                            <div class="inputbox mt-3 mr-2">
                              <select formControlName="category_id" class="form-select"
                                aria-label="Default select example" >
                                <option value={{Category.id}} *ngFor="let Category of categories">{{Category.name}}</option>
                              </select>
                            </div>
                          </div>
                          <!-- ///status // -->
                          <div class="col-md-6">
                            <div class="inputbox mt-3 mr-2">
                              <select formControlName="status" class="form-select" aria-label="Default select example">
                                <option selected>Stauts</option>
                                <option value="available">T-available</option>
                                <option value="inavailable">inavailable</option>
                              </select>
                            </div>
                          </div>
                          <!-- /////////////////Product Price////////////////////// -->
                          <div class="col-md-6">
                            <div class="inputbox mt-3 mr-2">
                              <input formControlName="price" type="number" class="form-control" required="required"
                                pattern="^[0-9]{1,6}$" />
                              <span>Product Price</span>
                            </div>
                          </div>
                          <!-- /////////////////Product Quantity////////////////////// -->
                          <div class="col-md-6">
                            <div class="inputbox mt-3 mr-2">
                              <input formControlName="quantity" type="number" class="form-control" required="required"
                                pattern="^[0-9]{1,6}$" />
                              <span>Product Quantity</span>
                            </div>
                          </div>
                          <!-- /////////discount  -->
                          <div class="col-md-6">
                            <div class="inputbox mt-3 mr-2">
                              <input type="number" formControlName="discount" class="form-control" required="required"
                                pattern="^[0-9]{1,6}$" />
                              <span>Product Discount</span>
                            </div>
                          </div>
                          <!-- ///////////////////rate// -->
                          <div class="col-md-6">
                            <div class="inputbox mt-3 mr-2">
                              <input formControlName="rate" type="number" class="form-control" required="required"
                                pattern="^[0-9]{1,6}$" />
                              <span>Product Rate</span>
                            </div>
                          </div>
                          <!-- /////////////////DESCRIPTION////////////////////// -->
                          <div class="col-md-12">
                            <div class="inputbox mt-3 mr-2">
                              <textarea type="text" class="form-control" formControlName="description"
                                required="required" pattern="^[a-zA-Z]{10,100}$" rows="4"></textarea>
                              <span>Product Description</span>
                            </div>
                          </div>
                        </div>
                        <div class="div float">
                          <button class="btn btn-primary" type="submit">{{buttonText}}</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- <input type="file" (change)="onFileSelected($event)" style="display: none;">
<i class="fa-solid fa-upload icons position-absolute top-0 start-0" ></i>
<img *ngIf="imageUrl" [src]="imageUrl" alt="Uploaded image" width="50px" height="50px"> -->

<!-- <button class="btn" (click)="selectImage.click()" for="file-input">
    <i class="fa fa-file"></i>
</button>
<input #selectImage id="file-input" type="file" (change)="onFileSelected($event)" style="display: none;">
<img *ngIf="imageUrl" [src]="imageUrl" alt="Uploaded image" width="50px" height="80px"> -->